.body {
    background-color: antiquewhite;
}

.bg-img {
    background-image: url("/assets/background.jpeg");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.my-row {
    height: 350px;
    background-color: #ada0b8;
}

.header {
    text-align: center!important;
}

.my-row2 {
    height: 250px;
    background-color: rgb(118, 165, 150);
}

.my-row1 {
    /* background-image: url("/assets/background.jpeg"); */
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.my-col {
    margin-top: 40px !important;
    background-color: #d8b9ed;
}

.kills-box {
    border: 1px solid;
    align-items: center!important;
    /* margin-top: 200px; */
    border-radius: 15px 50px 30px 5px;
    box-shadow: 1px 5px 10px#fff;
}

.kills-bg {
    background-color: #bfb8b8;
}

.skills {
    display: flex;
    padding-top: 20px;
}

.skills>p {
    padding-left: 20px;
}

.container-col {
    background-color: #dcc7eb;
}

.project {
    text-align: center;
}

.header3 {
    text-align: center;
    padding-top: 40px!important;
    background-color: #fcf2d7;
}

.project-row {
    padding-top: 40px!important;
    background-color: #fcf2d7;
}