        .body {
            background-color: antiquewhite;
        }
        
        .header {
            text-align: center!important;
        }
        
        .kills-box {
            border: 1px solid;
            align-items: center!important;
            border-radius: 15px 50px 30px 5px;
            box-shadow: 1px 5px 10px#fff;
        }
        
        .kills-bg {
            background-color: #bfb8b8;
        }
        
        .skills {
            display: flex;
            padding-top: 20px;
        }
        
        .skills>p {
            padding-left: 20px;
        }
        
        .container-col {
            background-color: #dcc7eb;
        }
        
        .project {
            text-align: center;
        }
        
        .header3 {
            text-align: center;
            padding-top: 40px!important;
        }
        
        .contact-bg {
            background-color: #bfb8b8;
        }
        
        .contact-me {
            display: flex;
            padding-top: 20px;
            padding-bottom: 80px;
        }
        
        .contact-me>p {
            padding-left: 20px;
        }
        
        .form-container {
            max-width: 800px;
            border: 1px solid gray;
            padding: 35px;
            border-radius: 5px;
            background-color: #e4dede;
        }
        
        .form-row {
            display: flex;
            flex-flow: wrap;
            margin: 0 -15px;
        }
        
        .form-col {
            padding: 0 15px;
            flex: 0 0 100%;
        }
        
        .form-col.half {
            flex: 0 0 50%;
        }
        
        input,
        textarea {
            width: 100%;
            padding: 15px 20px;
            margin: 0 0 30px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #fff;
            border-radius: 3px;
            font-size: 16px;
            border: 0;
        }
        
        textarea {
            height: 150px;
            resize: none;
        }
        
        input[type="submit"] {
            display: block;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            background-color: rgb(81, 81, 88);
        }